*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/app/build

# Keystore configuration (contains sensitive information)
/app/keystore.properties
/app/release.jks